player-connection-mode=Listen
player-connection-guid=3453636448
player-connection-debug=0
player-connection-project-name=Week 2 Tutorial
player-connection-ip=10.7.78.229
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=40f52ee6e9744cbca60f41f2df865a4d
